<div appFullscreen class="container">
  <div class="appointment-card">
    <div *ngIf="isNew" class="appointment-success animate-bounce">
      <h2>🎉 Your appointment was booked successfully!</h2>
    </div>

    <h1 class="appointment-title">📌 Appointment Details</h1>

    <div class="appointment-section">
      <label>Service</label>
      <p>
        {{ appointment?.service?.name }} ({{
          appointment?.service?.duration
        }}
        min)
      </p>
    </div>

    <div class="appointment-section">
      <label>Client</label>
      <p>
        {{ appointment?.client?.name }} - {{ appointment?.client?.phone }}
        <br />
        <span>{{ appointment?.client?.email }}</span>
      </p>
    </div>

    <div class="appointment-section">
      <label>Date & Time</label>
      <p>
        {{ appointment?.startTime | date : "fullDate" }} <br />
        {{ appointment?.startTime | date : "shortTime" }} -
        {{ appointment?.endTime | date : "shortTime" }}
      </p>
    </div>

    <div class="appointment-section">
      <label>Location</label>
      <p>
        {{ appointment?.agenda?.business?.name }} <br />
        <span>{{ appointment?.agenda?.business?.address }}</span>
      </p>
    </div>

    <div class="appointment-section">
      <label>Price</label>
      <p>${{ appointment?.service?.price }}</p>
    </div>

    <button class="appointment-back" (click)="goBack()">Back</button>
  </div>
</div>
