<div appFullscreen class="container">
  <div class="appointment-form">
    <h1 class="form-title">📅 New Appointment</h1>

    <div class="form-group">
      <label>Service</label>
      <select
        [(ngModel)]="selectedService"
        (change)="slots = null; selectedSlot = ''"
      >
        <option [ngValue]="null">Select a service...</option>
        <option *ngFor="let service of services" [ngValue]="service">
          {{ service.name }} ({{ service.duration }} min)
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Date</label>
      <input
        type="date"
        [min]="today"
        [(ngModel)]="selectedDate"
        (change)="slots = null; selectedSlot = ''"
      />
      <button class="btn btn-primary" (click)="fetchSlots()">
        Load Available Slots
      </button>
    </div>

    <div *ngIf="slots != null" class="form-group">
      <label>Available Slots</label>
      <div class="slots-grid" *ngIf="slots.length > 0">
        <button
          *ngFor="let slot of slots"
          (click)="selectedSlot = slot"
          [ngClass]="{ selected: selectedSlot === slot }"
        >
          {{ slot }}
        </button>
      </div>
      <div *ngIf="slots.length === 0" class="no-slots">
        No available slots for the selected date.
      </div>

      <div *ngIf="selectedSlot" class="form-client">
        <h2>👤 Client Information</h2>

        <input type="text" placeholder="Full name" [(ngModel)]="clientName" />
        <input type="email" placeholder="Email" [(ngModel)]="clientEmail" />
        <input
          type="tel"
          [(ngModel)]="clientPhone"
          mask="+000 00 000 0000"
          placeholder="+353 87 123 4567"
        />

        <button class="btn btn-success" (click)="confirmAppointment()">
          Confirm Appointment
        </button>
      </div>
    </div>
  </div>
  <div class="appointment-form">
    <button class="btn btn-secondary" (click)="goBack()">Back</button>
  </div>
</div>
